:root {
  --font-family-main: 'Roboto', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --color-text-main: #757575;
  --color-text-title: #212121;
  --color-logo: #2196f3;
  --color-logo-light-bgd: #000000;
  --color-logo-dark-bgd: #ffffff;
  --color-button-hover: #188ce8;
  --color-bgd-main: #ffffff;
  --color-bgd-secondary: #2f303a;
  --color-bgd-team: #f5f4fa;
  --color-text-adress-link: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--font-family-main);
  color: var(--color-text-main);
  background-color: var(--color-bgd-main);
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.navigation-link.link.current {
  color: var(--color-logo);
}
/* ==========START HEADER========== */

.logo {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-logo);
}
.logo-light {
  color: var(--color-logo-light-bgd);
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--color-logo);
}

.connection-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-main);
}

.connection-link:hover,
.connection-link:focus {
  color: var(--color-logo);
}
/* ==========END HEADER========== */

/* ==========START MAIN========== */

/* ==========START HERO========== */

.hero {
  background-color: var(--color-bgd-secondary);
}
.title-hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-logo-dark-bgd);
}

.button {
  font-family: var(--font-family-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-logo-dark-bgd);
  background-color: var(--color-logo);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

.button:hover,
.button:focus {
  background-color: var(--color-button-hover);
}
/* ==========END HERO========== */

/* ==========START FEATURES========== */
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-title);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ==========END FEATURES========== */

/* ==========START WHAT ARE WE DOING========== */

.secondary-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}
/* ==========END WHAT ARE WE DOING========== */

/* ==========START OUR TEAM========== */
.team {
  background-color: var(--color-bgd-team);
}
.team-item {
  background-color: var(--color-bgd-main);
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
}
.team-item-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ==========END OUR TEAM========== */

/* ==========END MAIN========== */

/* ==========START FOOTER========== */
.footer {
  background-color: var(--color-bgd-secondary);
}
.logo-dark {
  color: var(--color-logo-dark-bgd);
}
.adress {
  font-style: normal;
}
.adress-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-logo-dark-bgd);
}
.adress-location:hover,
.adress-location:focus {
  color: var(--color-logo);
}
.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-adress-link);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--color-logo);
}
/* ==========END FOOTER========== */

/* ==========START PORTFOLIO========== */
.filters-btn {
  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  background-color: var(--color-bgd-team);
  cursor: pointer;
  border-radius: 4px;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--color-logo);
  color: var(--color-logo-dark-bgd);
}
.drafts-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.drafts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-title);
}
.drafts-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* ==========END PORTFOLIO========== */

/* ==========START FLEXBOX========== */

/* ========== START FLEX HEADER ========== */

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.navigation .logo.link {
  margin-right: 93px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item {
  margin-right: 50px;
}
.connection-list {
  display: flex;
  align-items: center;
}
.connection-item {
  margin-right: 50px;
}
/* ========== END FLEX HEADER ========== */

/* ========== START FLEX HERO ========== */
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* ========== END FLEX HERO ========== */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ========== START FLEX FEATURES ========== */
.hidden-title {
  display: none;
}
.features-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.features-item {
  margin-left: 30px;
  flex-basis: calc((100% - 30px) / 4);
}
/* ========== START FLEX ACTIVITY ========== */
.activity-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity.section {
  padding-top: 0px;
}
